<div class='center hero-unit'
  <h4>Thank you, <%= "#{@app.firstname}" %>. Your application has been saved. You may come back any time before the deadline to add to or edit your application.</h4></br>
  <a href='/'>Home</a>
</div>
