<% content_for :head do %>
  αβ Ventures
<% end %>
<div class='center hero-unit'>
  <%= link_to image_tag('abventures3.png', width: 500, length: 300, id: 'center-logo'), '/' %></br>
  <h2>Fall 2014 Application</h2>
  <h3>Due Monday, July 28th at 11:59PM</h3></br>
  <b><h5>Our Goal:</h5></b> To develop and incubate projects that our brothers wish to work on through their early stages and set these projects up for launch.</br></br>
  <b><h5>Structure:</h5></b> Teams may consist of 2-3 business-oriented members, and at least 1 engineer to a maximum of 5 members. For the Fall 2014 semester, we will have 2 teams, each tracked by a project manager. Teams will also work with one alumni mentor to develop their platforms.</br></br>
  <b><h5>Requirements:</h5></b> Teams are required to meet at least once a week with their project manager. Teams will also meet with their alumni mentors at least three times throughout the semester, either in person or by call. At the end of each semester, teams will present their prototyped product, preferably in MVP or second or third iteration, in a VC simulation where brothers, alumni, and guests will see their work.</br></br>
  <b><h5>Application:</h5></b> Brothers of AKΨ may apply individually or as a team. Team members do not necessarily have to be in the fraternity, but each team must have at least one AKΨ brother. Click the button below to start the application. You will be required to provide your first name, last name, and an application password of your choice along with the passphrase provided by the current semester's project managers. When you are finished working on your application, simply save it using the button provided. You may come back to work on your application any time before the deadline.</br></br>
  <a href='/start'><button id='submit-button'>Start the Application</button></a>
</div>
