// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center.hero-unit {
    h4 {
        font-weight: lighter;
        font-size: 15px;
        color: lightblue;
        margin-left: -5px;
    }

    textarea {
        width: 400px;
    }

    form{
        input[type=text] {
            width: 17.3%
        }
        input[type=password] {
            width: 17.3%
        }
    }
}
