// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center.hero-unit {
    h4 {
        font-weight: lighter;
        font-size: 25px;
        color: lightblue;
    }

    textarea {
        width: 400px;
    }
}
