// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

#foot {
    height: 75px;
    background-color: rgba(120, 120, 120, 0.7);
}

#logo {
    margin-left: 00px;
    margin-top: -30px;
    position: fixed;
}

body {
    background-color: transparent;
}

div.center.hero-unit {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 150px;
    background-color: rgba(120, 120, 120, 0.8);
    text-align: center;
    color: white;

    #center-logo {
        margin-bottom: -25px;
        margin-top: -25px;
    }

    h2 {
        font-weight: lighter;
        font-size: 40px;
    }

    h5 {
        font-weight: lighter;
        font-size: 20px;
    }

    a {
        font-weight: lighter;
        font-size: 20px;
        color: lightblue;
        &:hover {
            color: white;
        }
    }

    #submit-button {
        font-weight: lighter;
        font-size: 20px;
        border: blue;
        cursor: default;

        &:hover {
            color: white;
        }
    }
}

#footer {
    padding: 0px;
    a {
        color: white;
        &:hover {
            color: lightblue;
        }
    }
}

footer {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;

    #footnote {
        float: right;
        font-weight: lighter;
        font-size: 15px;

        #akpsi {
            margin-top: -18px;
        }
    }
}
