<footer id='footer'>
<div id='logo'><%= link_to image_tag("abventures.png", width:250, height:100), "/" %></div>
<h4>Design by Daniel Hsu</h4>
<div id='footnote'>
    <a href='http://calakpsi.com/'>Visit Our Website</a>
    <%= link_to image_tag('aklogo.png', width:75, height:75, id:'akpsi'), "http://calakpsi.com/" %>
</div>
</footer>
